/* HEADER & FOOTER */

.nav{
	
	background-color:#D7E4F0;
	overflow: hidden;
	border-bottom: 5px solid #F7F8F8;
	
}
.nav a{
	color: #565E6D;
	text-align: center;
	padding: 20px;
	text-decoration: underline;
	font-size: 24px;
	
}
 .nav a:hover {
  background-color: #F7F8F7;
  color: #6B717E;
}
.column {
  background-color: white;
  flex: 33.33%;
  padding: 5px;
  style: "width:100%">
}

#quote {
	text-decoration: none;
}


#footer {
  
  height: 2.5rem;   
  background-color: #D7E4F0;
	color: #565E6D;    
	font-size: 15px;  
	padding-left: 1.5em;
	padding-top: 7px;
	border-top: 5px solid #F7F8F8;
	
}




/* HOMEPAGE */


#grid {
  color: #565E6D;
  display: grid;
  grid-gap: 15px;
  grid-auto-rows: minmax(150px, 1fr);
  grid-auto-flow: row dense;	
}




.tile {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border: 2px solid #AAB9CF;
  border-radius: 3px;
  box-shadow: -2px -2px 7.5px 0px rgba(68, 68, 68, 0.4);
  background-color: #F7F8F8;

}

.tile a.parkImage img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.tile p.name {
  font-size: 1.1rem;
  font-weight: bold;
}


#card-page #grid {
  padding: 13px;
  grid-template-columns: .5fr .5fr .5fr;
  width: 100%;
  background-color: #565E6D;
}

#welcome {
	padding: 25px;
	text-align: center;
	background-color: #E1E2E5;
	border-bottom: 5px solid #F7F8F8;
	color: #565E6D;
}

.homepage {
	background-color: #565E6D;
}



/* SELECTED PARK DETAILS */
body {
	background-color: #F7F8F8;
	max-width: 100%;
}

#parkname {
	border-top: 4px solid #F7F8F8;
	color: #565E6D;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	text-align: left;
	background-color: #E1E2E5;
}


#parkimgdetails {
	padding:2px;
   border:3px solid #C8CCCD;
	
}
.parkfacts {
	
	display: flex;
 	flex-direction: row;
 	padding-left: 25px;
 	padding-top: 20px;
 	background-color:#565E6D;
 	
}

#parkfacts {
	padding-top: 3px;
	padding-left: 25px;
	color: #F7F7F7;
}

.parkdescription {
	background-color: #565E6D;
	color: #F7F7F7;
	padding-left: 25px;
	border-bottom: 5px solid #F7F8F8;
}

#parkquote {
	padding-top: 10px;
	font-style: italic;
	color: #F7F7F7;	
}

.button {
	color: #565E6D;
    border-color: #565E6D;
    display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.7em 1.4em;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    background: transparent;
    border-radius: 1.41em;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
}

.tempbuttons {
	padding-top: 20px;
	padding-left: 25px;
	background-color: #D7E4F0;;
	padding-bottom: 20px;
	border-bottom: 5px solid #F7F8F8;
}

#selector {
	color: #565E6D; 
}

.weatherforecast {
	display: flex;
 	flex-direction: row;
 	color: #F7F7F7;
	background-color:#565E6D;
	justify-content: center;
	padding: 1%;
	padding-top: 35px;
}

#weatherforecast {
	display: flex;
	flex-direction: column;
	padding-left: 1%;
	background-color: #565E6D;
	width: calc(100%/5);
}

ul {
	list-style: none;
	padding-left: 5px;
}

.bold {
	font-weight: 900px;
	color: #F7F7F7;
	font-size: 15px;
}

.forecast {
	padding-top: 25px;

	color: #565E6D;	
}

/* SURVEY RESULT PAGE */

.userinput {
	color: #565E6D;
	background-color: #E1E2E5;	
	padding: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.surveypage {
	display: grid;
	grid-column: content;
	grid-template-columns: [content] 2fr 1fr;
	padding-top: 25px;	
}

.edwardquote {
	padding-top: 79px;
	padding-left: 12px;
}
#edwardquote {
	color: #565E6D;
	font-style: italic;
}

#surveyfont {
	color: #565E6D;
}

.logo {
	padding-right: 50px;
}
.logo img{
	height: 215px;	
}

.inp {
	position: relative;
	margin: auto;
	width: 75%;
	max-width: 100%;
}
  
.label {
	position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #565E6D;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #565E6D;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}

.email{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #7BB966;
    background: none;
    border-radius: 2.8px;
    color: #565E6D;
  	transition: .15s ease;  
   	transform: translateY(42px);  
}
  
.customtable {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #565E6D;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 75%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 2px solid #7BB966;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #F7F7F7;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.surveyforms {
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

#surveysubmit {
	background-color: white;
	color: #7BB966;
	font-weight: bold;
	border-color: #7BB966;
}

.surveybutton {
	padding-top: 5%;
	margin-left: 90px;
}

#weatherimage {
	padding:2px;
   border:3px solid #C8CCCD;
}

/* SURVEY RESULT PAGE */
.surveyresults {
	background-color: #565E6D;
	padding: 40px;
}

.favoritepark{
	display: flex;
 	flex-direction: column;
}

.grid2{
	padding-top: 40px;
	display: flex;
 	flex-direction: row;
 	
}

#resultstitle {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #C8CCCD;
}

.parkrank {
	padding-left: 40px;
	color: #C8CCCD;
	padding-right: 40px;
}

.flex {
	display: flex;
	flex-direction: column;
}
.grid2 img {
	padding:2px;
   border:3px solid #C8CCCD;
}
